/* .test{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: ;
    grid-template-rows: ;
    background-color: #fff;
    opacity: ;
    position: relative;
    position: absolute;
    position: fixed;
    position: static;
    position: sticky;
    z-index: ;
    padding-top: ;
    padding-right: ;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
} */